<main class="guitarAdd">
  <form novalidate (ngSubmit)="addGuitar()" [formGroup]="guitarAddForm">
    <section id="guitarAddFormProblems" class="">
      <p>There was a problem with your submission. <br>Errors have been highlighted below.</p>
    </section>
    <fieldset>
      <legend>Guitar Information</legend>
      <label class="top">Brand
        <select>
          <option value="">Please Select</option>
          <option value="martin" selected>Martin</option>
          <option value="taylor">Taylor</option>
          <option value="fender">Fender</option>
          <option value="gibson">Gibson</option>
          <option value="yamaha">Yamaha</option>
        </select>
      </label>
      <section id="model" class="">
        <label class="top"> Model <span>(required)</span>
          <input type="text" required>
          <span>Guitar Model is required</span>
        </label>
      </section>
      <section id="price" class="">
        <label class="top"> Price <span>(required)</span>
          <input type="number" required>
          <span>Price is required</span>
        </label>
      </section>
      <section id="rating" class="">
        <label class="top"> Rating <span>(required)</span>
          <input type="number" required>
          <span>Rating is required</span>
        </label>
      </section>
      <label class="top">Description<textarea></textarea></label>
    </fieldset>
    <fieldset>
      <legend>Guitar Technical Details</legend>
      <h2>Guitar Type</h2>
      <label class="sbs"><input type="radio" name="guitarType" value="acoustic" checked>Acoustic</label>
      <label class="sbs"><input type="radio" name="guitarType" value="electric">Electric</label>
      <h2>String Type</h2>
      <label class="sbs"><input type="radio" name="stringType" value="steel" checked>Steel</label>
      <label class="sbs"><input type="radio" name="stringType" value="nylon">Nylon</label>
      <label class="top">Strings
        <input type="number" value="6">
      </label>
      <label class="top">Frets
        <input type="number" value="20">
      </label>
      <label class="top">Scale Length
        <input type="number" value="25.4">
      </label>
    </fieldset>


    <input class="submitBtn" type="submit" value="Add New Guitar Model">
  </form>
</main>

