/*  ----------------------- BODY --------------------------- */
header, nav, main, footer {max-width: 80rem; margin: 0 auto}

div#wrapper {
  max-width: 80rem;
  margin: 0rem auto;
  box-shadow: 0 0 1px #000000;
  padding-bottom: 1rem;
}

/*  ----------------------- NAVIGATION --------------------------- */
nav {
  ul {
    margin-left: $gutter;
    border-left: 1px solid rgba(0,0,0,0.3);
  }
  ul li {width: auto;}
  ul li:last-child{border-right: 1px solid rgba(0,0,0,0.3);}
  ul li a {
    padding: .5rem 1rem;
  }
} // end nav


/*  ----------------------- MAIN --------------------------- */
main.brands {

  div.guitarDetails {
    color: red;
  }

}
