/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*  ----------------------- BODY --------------------------- */
body {
  font-family: $defaultFont;
  font-weight: $normalWeight;
  font-size: 16px;
} // end body

/*  ----------------------- HEADER --------------------------- */
header {
  background-color: $primaryColor;
  color: $secondaryColor;
  padding: 1rem $gutter;

  h1 {
    font-size: 2rem;
    font-weight: $normalWeight;
  }

  h2 {
    font-size: 1.04rem;
    font-weight: $normalWeight;
  }
} // end header

/*  ----------------------- NAVIGATION --------------------------- */
nav {
  background-color: $secondaryColor;
  border-bottom: 1px solid rgba(0,0,0,0.3);

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $secondaryColor;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  ul li {
    float: left;
    width: 25%;
    border-right: 1px solid rgba(0,0,0,0.3);
  } // end li

  ul li:last-child { border-right: none;}

  ul li a {
    display: block;
    text-align: center;
    font-weight: $boldWeight;
    padding: .5rem 0;
    color: $primaryColor;
    text-decoration: none;
    transition: background 0.75s ease, color 0.75s ease;
  } // end anchor

  ul li.active a {
    background-color: darken($secondaryColor, 10%);
  } // end active

  ul li a:hover {
    color: $secondaryColor;
    background-color: $primaryColor;
  } // end hover

  li.dropdown {
    display: inline-block;
  }

  .dropdown-content a {
    display:block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

} // end nav

/*  ----------------------- MAIN --------------------------- */
main {
  min-width: 26rem;
}

main.home {

  h3.author {
    display: inline;
  }

  div.author {
    text-align: center;
    font-size: 1.2rem;
    color: $primaryColor;
  }

  figure.welcome {width: 100%}
  figure.welcome img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 428px;
    max-width: 188px;
  }

} // end main home

main.brands {
  div.guitarDetails {
    display: flex;
    height: 250px;
    width: 100%;
    font-size: 1.5rem;
    font-weight: $boldWeight;
    color: $primaryColor;

    span {
      margin: auto;
    }
  }
}

main.guitarAdd {
  form {
    margin: 1rem $gutter;
    max-width: 25rem;
    fieldset {
      border: 1px solid $lightGrey;
      border-radius: .4rem;
      padding: 0 $gutter;
      margin: 2rem 0;

      legend {
        text-align: center;
        color: $redishColor;
        padding: 0 .4rem;
      }
    } // end legend
    label.top {
      display: block;
      padding: .75rem 0;
      span {
        font-size: .75rem;
        color: $redishColor;
      }
      input, textarea, select {
        display: block;
        font-size: 1.25rem;
        padding: .75rem 1rem;
        background-color: #F6F6F6;
        border: none;
        border-radius: 5px;
        color: $primaryColor;
        margin-top: .2rem;
        width: 100%;
      }
      textarea {min-height: 8rem;}
      input:required {border: 2px solid $redishColor;}
      input:required:valid {border-color: $primaryColor;}
      input:focus, textarea:focus {background-color: #ddd;}
    } // end label

    label.sbs {
      display: block;
      padding: .75rem 0;
    }

    h2 {
      font-weight: $normalWeight;
      font-size: .75rem;
      padding: 1.5rem 0 0 0;
    }

    section span {display: none;}
    section.error span {
      display: block;
      font-size: .75rem;
      color: #c20000;
      padding-left: .2rem;
    }
    section.error div {
      background-color: rgba(255,0,0,0.3);
    }
    section p {
      display: none;
    }
    section.error p {
      display: block;
      border: solid 1px #f00;
      background-color: rgba(255, 0, 0, 0.3);
      padding: .3rem $gutter;
    }

    input.submitBtn {
      border: none;
      background-color: $redishColor;
      color: white;
      font-size: 1.5rem;
      font-weight: $normalWeight;
      padding: .4rem 1rem;
      border-radius: 1rem;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
    } // end button

  } // end form
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
