<header>
  <h1>{{menuTitle}}</h1>
  <h2>{{menuSubTitle}}</h2>
</header>

<nav class="clearfix">
  <div>
    <ul>
      <li routerLinkActive="active" class="active">
        <a routerLink='/welcome'>Home</a>
      </li>
      <li routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          class="dropdown"
      >
        <a routerLink='/guitars'>Brands</a>
        <div class="dropdown-content">
          <a routerLink="/guitars/1">Martin</a>
          <a routerLink="/guitars/2">Taylor</a>
          <a routerLink="/guitars/3">Fender</a>
          <a routerLink="/guitars/4">Gibson</a>
          <a routerLink="/guitars/5">Yamaha</a>
        </div>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/guitars', 'add']">Add Guitar</a>
      </li>
    </ul>
  </div>
</nav>
